amqp==2.4.2
attrs==19.1.0
beautifultable==0.7.0
billiard==3.5.0.5
celery==4.1.1
certifi==2019.3.9
chardet==3.0.4
decorator==4.4.0
Django==1.11.18
django-user-agents==0.4.0
enum34==1.1.6
functools32==3.2.3.post2
idna==2.8
ipython-genutils==0.2.0
jsonschema==3.0.1
jupyter-core==4.4.0
kombu==4.5.0
nbformat==4.4.0
numpy==1.16.4
pretty==0.1
prettytable==0.7.2
psycopg2==2.7.7
psycopg2-binary==2.7.7
pyrsistent==0.15.2
pytz==2018.9
PyYAML==5.1.1
redis==3.2.0
requests==2.22.0
retrying==1.3.3
six==1.12.0
table==0.0.4
traitlets==4.3.2
ua-parser==0.8.0
Unipath==1.1
urllib3==1.25.8
user-agents==2.0
vine==1.3.0
xlrd==1.2.0
XlsxWriter==1.1.8

