{% extends "base.html" %}
{% load static %}
{% block content %}
  <style>
  .grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto auto auto;
  padding: 10px;
}
.grid-item {
  text-align: center;
  background: #FFFFFF;
  margin: 8px;
    padding: 15px;
}
  </style>

  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper">
      <div class="main-panel">
        <div class="content-wrapper">


    <div class="row">
						   <div class="col-12">
                  <div class="card">
                  <div class="card-body">
                  <h4 class="card-title text-dark" style="margin-bottom:0px;">
                  Customer Overview
                  <span style="float:right; text-align: right;">{{utility}}<br/>
                 {{sa_type}}
                 </span>					
                  </h4>
                  	<div class="grid-container">
                  		
                  	</div>
                  </div>
                  	
                  </div>
							</div>

<div class=" row col-12"  style="float: left; margin-top:5px; padding-right:0px;">
             <div class="col-3 grid-margin stretch-card" style="padding-right:0px; margin-bottom:5px;">
               <div class="card">
                 <div class="card-body">
                   <h4 class="card-title">SA Meter - Gas</h4>
                   <div class="d-flex justify-content-between">
                     <p class="text-muted text-small">Reported</p>
                     <p class="text-muted text-small">{{gas_data.0}}</p>
                   </div>
                   <div class="d-flex justify-content-between">
                     <p class="text-muted text-small">Actual</p>
                     <p class="text-muted text-small">{{gas_data.1}}</p>
                   </div>
                   <!--div class="progress progress-md">
                     <div class="progress-bar bg-success w-50 progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                   </div-->
                 </div>
               </div>
             </div>

            <div class="col-3 grid-margin stretch-card" style="padding-right:0px; margin-bottom:5px;">
               <div class="card">
                 <div class="card-body">
                   <h4 class="card-title">SA Meter - Water</h4> 
                   <div class="d-flex justify-content-between">
                     <p class="text-muted text-small">Reported</p>
                     <p class="text-muted text-small">{{water_data.0}}</p>
                   </div>
                   <div class="d-flex justify-content-between">
                     <p class="text-muted text-small">Actual</p>
                     <p class="text-muted text-small">{{water_data.1}}</p>
                   </div>
                   <!--div class="progress progress-md">
                     <div class="progress-bar bg-info w-25 progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
                   </div-->
                 </div>
               </div>
             </div>
             <div class="col-3 grid-margin stretch-card" style="padding-right:0px; margin-bottom:5px;">
               <div class="card">
                 <div class="card-body">
                   <h4 class="card-title">SA Meter - Electricity</h4> 
                   <div class="d-flex justify-content-between">
                     <p class="text-muted text-small">Reported</p>
                     <p class="text-muted text-small">{{electric_data.0}}</p>
                   </div>
                   <div class="d-flex justify-content-between">
                     <p class="text-muted text-small">Actual</p>
                     <p class="text-muted text-small">{{electric_data.1}}</p>
                   </div>
                   </div>
               </div>
 </div>
      
 <div class="col-3 grid-margin stretch-card" style="padding-right:0px; margin-bottom:5px;">          
               <div class="card">
                 <div class="card-body">
                   <h4 class="card-title">Portal Users</h4> 
                   <div class="d-flex justify-content-between">
                     <p class="text-muted text-small">Reported</p>
                     <p class="text-muted text-small">{{portal_user_data.0}}</p>
                   </div>
                   <div class="d-flex justify-content-between">
                     <p class="text-muted text-small">Actual</p>
                     <p class="text-muted text-small">{{portal_user_data.1}}</p>
                   </div>
                   <!--div class="progress progress-md">
                     <div class="progress-bar bg-warning w-25 progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="100"></div>
                   </div-->
                 </div>
               </div>
             </div>
          
             
       

           </div>
    
                
				<div class="col-7" >
              <div class="card" style="margin-bottom:0px;">
              <div class="card-body">
              <h4 class="card-title">Annual Fees</h4>	<div class="row">
                  <div class="col-9">
                  <div class="table-responsive">

                    <table class="table table-bordered">
                        <thead>
                        </tr>
                            <th>Invoice Dates</th>
                            <th>Reported</th>
                        </tr>
                        </thead>
                        <tbody>
                          {% for data in master_annual_data %}
                         <tr>
                            <td> {{data.0}}</td>
                            <td> {{data.1}}</td>            
                          
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                  </div>
                </div>
                <div class="col-3">
                    <ul class="dash-style">
                <li>Text Messaging
         
                  <ul>
                      <li>{{msg_data}}</li>
                      </ul>
                      </li>
                      <li>Setup

                      <ul>
                      <li>{{setup_data}}</li>
                      </ul>
                      </li>
                      <li>Add-on Apps

                      <ul>
                      <li>{{addon_data}}</li>
                      </ul>
                      </li>
                  </ul>
                </div>
                </div>

              </div>
              </div>
            </div>
            <!-- <div class="col-3">
             <div class="card">
            <div class="card-body">
              <ul class="dash-style">
                <li>Text Messaging
         
                  <ul>
                    <li>$0, $600, $618</li>
                  </ul>
                </li>
                <li>Setup
         
                  <ul>
                    <li>$4560</li>
                  </ul>
                </li>
                <li>Add-on Apps
         
                  <ul>
                    <li>$0</li>
                  </ul>
                </li>
              </ul>
              </div>
            </div>
            </div> -->
			<div class="col-5"  style="margin-top:5px;">
		    <div class="card">
            <div class="card-body">
              <h4 class="card-title" style="float: left; margin-bottom:0px;">Annual Fees</h4>
				<div class="table-responsive">
                    <table class="table table-bordered" id="annualfeestable">
                      <thead>
                        <tr>
                            <th>Invoice Dates</th>
                            <th>Reported</th>
                        </tr>
                      </thead>
                      <tbody>
                        {% for obj in other_objs %} 
                         <tr>
                            <td> {{obj.date_invoiced}}</td>
                            <td> {{obj.total_sales}}</td>         
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
				</div>
              </div>
            </div>
                 
                 
			<div class="col-12" >
          <div class="card" style="margin-top:10px;">
          <div class="card-body">
          <h4 class="card-title" style="float: left; margin-bottom:0px;">&nbsp;</h4>
          <div class="table-responsive">
                <table class="table table-bordered" id="bigtablecustomer">
                  <thead>
                    <tr>
                        <th>Item Number</th>
                        <th>Item Description</th>
                        <th>Order Number</th>
                        <th>Order Line Number</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for obj in billing_obj %}
                     <tr>
                        <td>{{obj.item_number}}</td>
                        <td>{{obj.item_description}}</td>          
                        <td>{{obj.order_number}}</td>          
                        <td>{{obj.order_line_number}}</td>          
                    
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
          </div>
          </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
<script type="text/javascript">
  (function($) {
  'use strict';
  $(function() {
    $('#sameters').DataTable({
    "bLengthChange": false,
    });
    $('#bigtablecustomer').DataTable({
    });
    $('#invoicedata').DataTable({
    "bLengthChange": false,
    "ordering": false,
    });
    $('#portaluserstable').DataTable({
    "bLengthChange": false,
    "ordering": false,
    });
    $('#annualfeestable').DataTable({
    "bLengthChange": false,
    "ordering": false,
    "searching": false
    });
    $('#order-listing').DataTable({
      "aLengthMenu": [
        [5, 10, 15, -1],
        [5, 10, 15, "All"]
      ],
      "iDisplayLength": 10,
      "language": {
        search: ""
      }
    });
    $('#order-listing').each(function() {
      var datatable = $(this);
      // SEARCH - Add the placeholder for Search and Turn this into in-line form control
      var search_input = datatable.closest('.dataTables_wrapper').find('div[id$=_filter] input');
      search_input.attr('placeholder', 'Search');
      search_input.removeClass('form-control-sm');
      // LENGTH - Inline-Form control
      var length_sel = datatable.closest('.dataTables_wrapper').find('div[id$=_length] select');
      length_sel.removeClass('form-control-sm');
    });
  });
})(jQuery);
</script>

{% endblock %}